@using Shared;
@inject CampaignDataService dataService;
@inject CharacterDataService characterDataService;
@inject NavigationManager NavigationManager;

<section class="connected-entities p-3">
    <div class="button-container">
        <button class="btn btn-primary">SC</button>
        <button class="btn btn-primary">NSC</button>
        <button class="btn btn-primary">Org</button>
    </div>
    @if (ConnectedEntities == null || ConnectedEntities.Count == 0)
    {
        <p>Keine verbundenen Entitäten gefunden.</p>
    }
    else
    {
        <ListComponent EntityList="@(ConnectedEntities?.Cast<BaseEntityDto>().ToList())" />
    }
</section>
@code{
    [Parameter]
    public BaseEntityDto? Entity { get; set; }

    private List<CharacterDto> ConnectedEntities { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Entity != null)
        {
            ConnectedEntities = await characterDataService.GetCharacterDtosByCampaignAsync(Entity.Id.Value);
        }
    }
}