@using Shared
@using System.ComponentModel.DataAnnotations;

<article class="entity px-1">
    <p>@Entity.Name</p>
    <p>@Entity.DescriptionShort</p>
    @if (Entity is CampaignDto campaignDto)
    {
        <p>SL @campaignDto.GmId</p>
    }

</article>

@code {
    [Parameter]
    public BaseEntityDto Entity { get; set; } = new BaseEntityDto
    {
        Name = "BaseEntity",
        DescriptionShort = "BaseDescription"
    };

    public bool isCollapsed = true;

}