@using Shared
@using System.ComponentModel.DataAnnotations;

<article class="entity border rounded px-1">
    <p>@Entity.Name</p>
    
    <p>@if(@isCollapsed){ @Entity.DescriptionShort} else{@Entity.Description}</p>
    @if (Entity is CampaignDto campaignDto)
    {
        <p>SL @campaignDto.GmId</p>
    }
    else{
        <p>Spieler</p>
    }
    <button class="btn btn-secondary btn-sm" @onclick="() => isCollapsed = !isCollapsed">
        <i class="bi @(isCollapsed ? "bi-chevron-right" : "bi-chevron-down")"></i>
    </button>
    <button class="btn btn-primary btn-sm" @onclick="() => SelectEntity(Entity)"><i class="bi bi-arrow-right"></i></button>

</article>

@code {
    [Parameter]
    public BaseEntityDto Entity { get; set; } = new BaseEntityDto
    {
        Name = "BaseEntity",
        DescriptionShort = "BaseDescription"
    };

    public bool isCollapsed = true;

    public void SelectEntity(BaseEntityDto entity)
    {
        // Logic to handle entity selection
        Console.WriteLine($"Selected Entity: {entity.Name}");
    }

}