<div class="page-header p-3 mb-3">
    <h1>@Title</h1>
    <button class="btn btn-secondary" @onclick="ToggleDetailView">@ButtonText</button>
    <button class="btn btn-primary" @onclick="AddNewEntity"><i class="bi bi-plus"></i></button>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Default Title";

    [Parameter]
    public EventCallback OnToggleDetailView { get; set; }

    [Parameter]
    public EventCallback OnAddNewEntity { get; set; }

    public bool IsDetailView { get; set; } = false;

    private string ButtonText => IsDetailView ? "Liste" : "Details";

    public async Task ToggleDetailView()
    {
        IsDetailView = !IsDetailView;
        if (OnToggleDetailView.HasDelegate)
        {
            await OnToggleDetailView.InvokeAsync();
        }
    }

    public async Task AddNewEntity()
    {
        if (OnAddNewEntity.HasDelegate)
        {
            await OnAddNewEntity.InvokeAsync();
        }
    }
}