@page "/campaign/{Id:int}"

@inject CampaignDataService dataService;
@inject NavigationManager NavigationManager;
@using Shared;
@using Components;

<PageTitle>Campaign Tool Kampagnen</PageTitle>

<h1>Kampagnen</h1>
@if (CampaignDto == null)
{
    <p>Loading...</p>
}
else
{
    <Frontend.Components.PageHeaderComponent Title="@CampaignDto.Name" OnNotifyParent="ToggleDetailView" />
    <Frontend.Components.EntityDetailComponent EntityDto="@CampaignDto" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    
    public BaseEntityDto? CampaignDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Logic to load the campaign by Id
        Console.WriteLine($"Loading campaign with Id: {Id}");
        CampaignDto = await dataService.GetCampaignByIdAsync(Id);
    }

    public async Task ToggleDetailView()
    {
        NavigationManager.NavigateTo("/");
    }
}