@page "/"
@inject HttpClient Httpclient
@using System.Net.Http.Json
@using System.Text.Json
@using Shared;
@using Components;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (Campaigns != null && Campaigns.Any())
{
    <div>
        <Frontend.Components.ListComponent EntityList="@(Campaigns?.Cast<BaseEntityDto>().ToList())" />
    </div>
}
else
{
    <p>Not data found.</p>
}


@code {

    protected List<CampaignDto>? Campaigns;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Httpclient.GetAsync("http://localhost:5043/api/campaign");
            response.EnsureSuccessStatusCode();
            var json = await response.Content.ReadAsStringAsync();
            var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };
            Campaigns = JsonSerializer.Deserialize<List<CampaignDto>>(json, options);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}